body {
  background-color: #fff;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
}

.main__heading {
  color: #92140c;
}

.about {
}

.about__heading {
  color: #1460aa;
}

.about__link {
  color: #92140c;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: black;
}

.note {
}

.notes__heading {
  color: #1460aa;
}

.week-summary {
  padding: 16px;
  border: 1px #ccc solid;
  margin-bottom: 16px;
}

.week-summary--special {
  border: 1px blueviolet solid;
}

.week-summary__description {
  color: #cf1ab7;
}

.week-summary__title {
  color: #21a179;
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
}

.list {
    list-style: square;
}

.list__item {
    color: #2ed409;
}